<!--View Information-->
<!--View name : Note Detail-->
<!--Controller name : noteDetailCtrl-->
<!--Controller path : www/templates/application-storage/local-application-db/js/controllers.js-->
<!--State name : app.notedetail-->
<!--URL : #app/notedetail-->

<ion-view view-title="Detail Surat Jalan">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <!--note detail section-->
    <form name="noteForm">
        <ion-content>
            <!--toolbar section-->
            <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
                <div>
                    <h1>
                        <i class="ion-android-list"></i>
                    </h1>

                    <h3>Detail Surat Jalan</h3>
                </div>
                <a class="md-button md-accent md-fab fab-toolbar-medium"
                   ng-click="showListBottomSheet($event,noteForm)"
                   aria-label="showListBottomSheet">
                    <i class="ion-android-star"></i>
                </a>
            </md-toolbar><!--end toolbar section-->

            <div id="note-detail-content">
                <!--content section-->
                <p>
                    <i class="ion-android-calendar"></i> {{note.dateCreated}}
                </p>
                <md-input-container md-no-float>
                    <input required name="noteTitle" placeholder="Surat Title (Required)" ng-model="note.title">
                </md-input-container>
                <md-input-container ng-repeat="from in froms" md-no-float>
                    <h5>From </h5><h5 ng-hide="!from.isfrom" ng-click="editfrom(from.isi.$id)">{{from.isi.warehouseName}}</h5>
                    <select ng-hide="from.isfrom" ng-model="from.isi" ng-options="warehouse.warehouseName for warehouse in warehouses | orderBy:'warehouseName'">
                    </select>
                </md-input-container>
                <md-input-container ng-repeat="to in tos" md-no-float>
                    <h5>To </h5><h5 ng-hide="!to.isto" ng-click="editto(to.isi.$id)">{{to.isi.warehouseName}}</h5>
                    <select ng-hide="to.isto" ng-model="to.isi" ng-options="warehouse.warehouseName for warehouse in warehouses | orderBy:'warehouseName'">
                    </select>
                    <h5>Products</h5>
                </md-input-container>
                <md-input-container ng-repeat="bahan in bahans" md-no-float>
                    <select ng-hide="bahan.istampil" ng-model="bahan.isi" ng-options="product.productCode for product in products | orderBy:'productCode'">
                    </select>
                    <h6 ng-hide="!bahan.istampil" ng-click="editbahan(bahan.isi.$id)">{{bahan.isi.productCode}}</h6>
                    <input ng-model="bahan.value" name="telephone" class="input-tel" placeholder="Jumlah Produck" type="tel">
                </md-input-container>
                <textarea rows="7" ng-model="note.desc" maxlength="250"
                          placeholder="Write something here ...."></textarea>
                <span>
                    {{(note.desc.length > 0 ? note.desc.length :0) | json}}/250
                </span>
            </div><!--end content section-->
        </ion-content>
    </form><!--end note detail section-->


    <!--angular template section-->
    <script type="text/ng-template" id="contract-actions-template">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Surat Actions</h1>
            <!--list section-->
            <md-list>
                <md-list-item ng-hide="hideNew">
                    <a class="md-default-theme md-bottom-sheet-list-item" ng-click="addnew()">
                        <i class="fa fa fa-cubes"></i>
                        <span>New Stock</span>
                    </a>
                </md-list-item>
                <md-list-item ng-hide="hideFrom">
                    <a class="md-default-theme md-bottom-sheet-list-item" ng-click="addfroms()">
                        <i class="fa fa fa-cubes"></i>
                        <span>Transfer From</span>
                    </a>
                </md-list-item>
                <md-list-item ng-hide="hideTo">
                    <a class="md-default-theme md-bottom-sheet-list-item" ng-click="addtos()">
                        <i class="fa fa fa-cubes"></i>
                        <span>Transfer To</span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item" ng-click="addbahans()">
                        <i class="fa fa fa-cube"></i>
                        <span>New Product</span>
                    </a>
                </md-list-item>
               <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-class="{ 'disabled-link': disableSaveBtn}"
                       ng-click="saveNote(note,$event)">
                        <i class="ion-android-list"></i>
                        <span>Save Surat</span>
                    </a>
                </md-list-item>

                <md-list-item ng-show="actionDelete">
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="deleteNote(note,$event)">
                        <i class="ion-android-delete"></i>
                        <span>Remove Surat</span>
                    </a>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </md-bottom-sheet>
    </script><!--end angular template section-->

</ion-view>