<!--View Information-->
<!--View name : Device Mobile Contract Detail-->
<!--Controller name : mobileContractDetailCtrl-->
<!--Controller path : www/templates/hardware-connect/mobile-contract/js/controllers.js-->
<!--State name : app.mobileContractDetail-->
<!--URL : #app/mobileContractDetail-->

<ion-view view-title="">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <form name="noteForm">
        <ion-content class="header-in-content">
            <!--toolbar section-->
            <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
                <div>
                    <h1>
                        <i class="fa fa-cube"></i>
                    </h1>

                    <h3> Product Detail </h3>

                </div>
                <a class="md-button md-accent md-fab fab-toolbar-medium"
                   ng-click="showListBottomSheet($event,contract)"
                   aria-label="showListBottomSheet">
                    <i class="fa fa-check-square-o"></i>
                </a>
            </md-toolbar> <!--end toolbar section-->

            <!--mobile contract detail section-->
            <div id="mobile-contract-detail-content">
                <!--input section-->
                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.productCode" name="productCode" placeholder="Product Code">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.productName" name="productName" placeholder="Product Name">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.productDesc" name="productDesc" placeholder="Product Desc">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.productSize" name="productSize" placeholder="Product Size">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.productColor" name="productColor" placeholder="Product Color">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.productPrize" name="productPrize" placeholder="Product Prize">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.productSellPrize" name="productSellPrize" placeholder="Product Sell Prize">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.stockGudang" name="stockGudang" placeholder="Stock Gudang">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.stockRumah" name="stockRumah" placeholder="Stock Rumah">
                </md-input-container>

                <md-input-container md-no-float>
                    <i class="fa fa-plus-square-o"></i>
                    <input ng-model="contract.stockToko" name="stockToko" placeholder="Stock Toko">
                </md-input-container>
                <!--end input section-->
            </div> <!--end mobile contract detail section-->
        </ion-content>
    </form>

    <!--angular template section-->
    <script type="text/ng-template" id="mobile-contract-actions-template.html">
        <md-bottom-sheet class="md-list md-has-header">
            <h1 class="md-bottom-sheet-header">Product Actions</h1>
            <!--list section-->
            <md-list>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="doAction()">
                        <i class="fa fa-camera-retro"></i>
                        <span>Upload Photo</span>
                    </a>
                </md-list-item>
                <md-list-item>
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-class="{ 'disabled-link': disableSaveBtn}"
                       ng-click="saveContract(contract,$event)">
                        <i class="ion-android-list"></i>
                        <span>Save</span>
                    </a>
                </md-list-item>
                <md-list-item ng-show="actionDelete">
                    <a class="md-default-theme md-bottom-sheet-list-item"
                       ng-click="deleteContract(contract,$event)">
                        <i class="ion-android-delete"></i>
                        <span>Remove</span>
                    </a>
                </md-list-item>
            </md-list><!--end list section-->

        </md-bottom-sheet>
    </script><!--end angular template section-->

</ion-view>